<!DOCTYPE html>
<html>
  <head>
    <title>Job Patterns</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}" type="text/css" />
  </head>
  <body>
    <center>
    <h2>{{client}}</h2>
    <p>Click the load Set link to select an MTG Set</p>
    <a href="/loadset"> Load Set</a>
    <br>
    <p>There are {{cards}} cards in the queue already</p>
    <p>
      <img src="https://minio.lab.brianragazzi.com/cardimages/40k10.jpg"/>
    </p>
  </center>  
</body>
</html>
