<!DOCTYPE html>
<html>
  <head>
    <title>Job Patterns</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}" type="text/css" />
  </head>
  <body>
    <center>
    <h2>{{client}}</h2>
    <p>Click the load Set link to select an MTG Set</p>
    <a href="/loadset"> Load Set</a>
    <br>
    <p>There are {{cards}} cards in the queue already</p>
    <p>There are {{cardimagecount}} cards images already downloaded to the bucket</p>
    <p>
      <!-- <img src="https://minio.lab.brianragazzi.com/cardimages/40k10.jpg"/>that worked-->
      <h2>To Do</h2>
      <ul>
        <li>Read and report number of card images in bucket</li>
        <li>Display card images in a table (all of them?)</li>
        <li>Configure and Add Service Bindings to eliminate several envvars</li>
      </ul>
    </p>
  </center>  
</body>
</html>
