<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='mystyle.css') }}" type="text/css" />
  </head>
  <body>
    <center>
        <p><a href="/"> Back to Home</a></p>
        {% if client %}
            <h2>{{client}}</h2>
        {% else %}
            <p>&nbsp;</p>
        {% endif %}
        <p>When a set selected and "Fetch Data" pressed, this app will query the api for the <br>
            data for all cards in that set.  Then each card data record as json is added <br>
            to the Queue for processing by the workers
        </p>
        <p>{{placeholder}}</p>
        <form action="{{ url_for("loadset")}}" method="post">
        Choose Set:<SELECT name="setcode">
            {% for set in codelist %}
                <OPTION value={{set["code"]}}>{{set["name"]}}</OPTION>
            {% endfor %}
        </SELECT>

        <button type="submit">Fetch Card Data</button>
        <ul>
        {% for item in list %}
            <li>added {{ item["name"] }} </li>
        {% endfor %}
        </ul>

  </center>  
</body>
</html>
